body {
    background: radial-gradient(circle, #a5e1e9, #b69fec);
    font-family: SimSun; 
}
header {
    text-align: center;
}
h1 {;
    border-style: double;
    border-width: 6px;
    border-radius: 50px;

    display: inline-block;
    padding: 2px 20px;
}
.page-footer {
  width: 100%;
  height: 150px;  /* control how tall the footer is */
  background-image: url("images/codingWallpaper.jpg");
  background-size: cover;       /* fill space fully */
  background-repeat: no-repeat; /* prevent tiling */
  background-position: center;  /* center the image */
  opacity: 0.7;                 /* optional fade effect */
  margin: 0;
}